@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, $orange-light, $white, $green-light);
    color: $gray-800;
}